/* 전체 페이지의 기본 스타일 설정 */
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 20px;
    overflow:hidden;

}

/* 회원가입 양식 관련 스타일 */
form {
    background-color: #000000;
    max-width: 625px;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #000;
}

#title {
    width: 300px;
    background: #971aff;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight:bold;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0px 10px rgb(255 144 241 / 50%);
    margin: 10px auto;
    font-family: 'Noto Sans KR', sans-serif; /* 폰트 스타일 변경 */
}


.set {
    margin-bottom:20px;
    height: 50px;
}

label {
    margin-bottom: 5px;
    color: #ffffff;
    display: inline-block; /* 라벨과 입력 필드를 한 줄에 나타내기 위해 */
    width: 120px; /* 라벨의 너비 지정 */
    height: 40px;
    line-height: 40px;
    text-align: center;
}

input[type="text"],
input[type="email"],
 input[type="number"]{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* 입력 필드 크기가 레이블 너비를 초과하지 않도록 함 */
}
input[type="password"]{
    width: calc(100% - 125px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: right;
}

.checkBtn{
    width: 100px;
    height: 35px;
    background-color: #971aff;
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    float: right;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: #551c83  0px 5px 0px;
    transition: all 235ms ease-in-out;
}

.checkBtn:hover {
    box-shadow: #551c83  0px 2px 2px; /* 호버 시 그림자 효과 변경 */
    transform: translateY(1px); /* 호버 시 약간 아래로 이동하는 효과 */
}

#submitBtn {
    width: 45%;
    height: 50px;
    padding: 10px;
    background-color: #971aff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight:bold;
    box-shadow: #551c83  0px 5px 0px;
    transition: all 235ms ease-in-out;
    float: left;
}

#submitBtn:hover {
    box-shadow: #551c83  0px 2px 2px;
    transform: translateY(1px);
}

#profileBtn{
    width: 45%;
    height: 50px;
    padding: 10px;
    background-color: #971aff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight:bold;
    box-shadow: #551c83  0px 5px 0px;
    transition: all 235ms ease-in-out;
    float: right;
}

#profileBtn:hover {
    box-shadow: #551c83  0px 2px 2px;
    transform: translateY(1px);
}
#profileModal{
    width: 665px;
    height: 440px;
    background: #e9b7fc;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -49%);
    z-index: 999;
    border-radius: 25px;
    display: none;
}

#imageList {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    height: 355px;
}

#imageList li {
    cursor: pointer;
}

#imageList li img {
    width: 130px;
    height: 130px;
    border-radius: 65px;
    border: 2px solid transparent;
    transition: transform 0.3s ease-in-out;
}
#imageList li img:hover{
    transform: scale(1.1);
}
#imageList li img.selected {
    transform: scale(1.1);
}

#confirmBtn {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #5b3a8e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.ment{
    width: 400px;
    color: #cecccc;
    padding-left: 125px;
    font-size: 10px;
}
.home{
    right: 25px;
    position: absolute;
    bottom: 15px;
    width: 200px;
    height: 80px;
    text-align: center;
}
#rLoginBtn{
    right: 25px;
    position: absolute;
    bottom: 110px;
}
.home {
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: .75rem;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.home:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.home:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
.home a{
    text-decoration: none;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 5px;
    font-family: "Gasoek One", sans-serif;
    font-style:normal;
    color: #000;
}